<div class="slide">
  <p-fieldset>
    <ng-template #header>
      <div class="flex items-center gap-2 px-2 font-bold">
        <span>Potencias de dos</span>
      </div>
    </ng-template>
    <app-dialogue textContent="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddsljfsojcslfjeodscjfijewoic jfoijcwqeoijicqewjojcriqewojcewroijcwoijwcqeoijcewroieroijcewroiqoicewrjrqcewoircoeqwinwqceroicrnewoiqwcriocerwnoiqcwnoircwnoiqwrcekfdlsakfladsklñfda
asdfadsffdasfkaslkdflkasdlfkñfaksdkfdsalñkfñlkasdñlfklñdkaslñ ña skdñflk lñsakd ñfkñ lsak lñfkñ lsakdfñldk fñdsla fdañlk ñflsakd ñdk ñfldsakñ fkasdñl fksñl akñlsa kdñl fkdsñal kñ lfkasl ñkf lñaskd lñk fsañlk ksñalk fdñslk ñk fñs dfñl kdafñsl ladsñlañ dslkñ ldkas ñlk añlk dñsk ñdkñ dak dañlsk  ñdslk ñ lkañlfkdsñkfñdaskdfslñdfkñlsak ñk ñlka sdlñfk ñlkañ lk alsñk fdkfñsaldk flñdkfsa ñlk ñlfdkaslñ kañ flkd askñlakdafsñk´fasdñlk ñáka ĺñ afkñ'"/>
    <div class="relative text-center bottom-0">

      <p-button [rounded]="true" label="<" styleClass="w-6 h-6 p-0 m-2" severity="contrast"/>

      <p-button (click)="active = 1" [rounded]="true" label="" styleClass="w-6 h-6 p-0 m-2" [outlined]="active !== 1" severity="contrast"/>
      <p-button (click)="active = 2" [rounded]="true" label="" styleClass="w-6 h-6 p-0 m-2" [outlined]="active !== 2" severity="contrast"/>
      <p-button (click)="active = 3" [rounded]="true" label="" styleClass="w-6 h-6 p-0 m-2" [outlined]="active !== 3" severity="contrast"/>

      <p-button [rounded]="true" label=">" styleClass="w-6 h-6 p-0 m-2" severity="contrast"/>
    </div>
  </p-fieldset>
</div>
