.title {
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
  color: ghostwhite;
  user-select: none;
}

.cyan {
  color: var(--color-cyan-950);
}


.bg-splash{
  width: 80%;
  height: 80vh;
  margin-bottom: 10vh;
  margin-left: 10%;

  background-image: url("https://images.pexels.com/photos/6153354/pexels-photo-6153354.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  margin-top: 2rem;
  padding: 10rem;
  text-align: center;
}

.timeline {
  margin-top: 10rem;
}
