@import url('https://fonts.googleapis.com/css2?family=Rationale&family=Space+Grotesk:wght@300..700&family=Zen+Dots&display=swap');
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

html, body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.font-space-grotesk-300 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font-space-grotesk-500 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.font-zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-color {
  background-color: #0d0d0d;
}
